*{
    box-sizing: border-box;
}

.container{
    width: 700px;
    height: 700px;
    background-color: pink;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin:auto;

}
.flex{
    width: 200px;
    margin: auto;
    border: 3px solid brown;
}
.flex1 {
    margin-top:2px ;
    border-radius: 20px 15px;
    max-height:  40px;
    min-width: 600px;
    border:4px solid aqua;
    background-color:lightskyblue;
    display:flex;
    align-items:center;
    justify-content: center;
}
.flex2 {
    min-height: 300px;
    min-width: 50px;
    background-color: lightskyblue;
    text-align:center;
}
.flex3 {
    min-height: 300px; 
    min-width: 313px;
    align-self: flex-end;
    align-content: flex-end;
    background-color: palevioletred;
    text-align: center;    
    border: 3px solid brown;
}

.flex4 {

    border-radius: 20px 15px;
    max-height:  40px;
    min-width: 380px;
    border:4px solid aqua;
    background-color:lightskyblue;
    display:flex;
    align-items:center;
    justify-content: center; 
}

.flex3container{
    width: 350px;
    height: 420px;
    display: flex;
    flex-wrap: wrap;   
    justify-content: center;

    
}