/* just tring command lines */
a{

    text-decoration: none;
    color: green;
    font-size: 30px;;
}
p{
    text-indent: 50px;
    letter-spacing: 1px;
    line-height: 1.8em;

}
h3{
    text-shadow: 4px 4px 2px red;
}